* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-title: #21afd7;
  --max-content: 1000px;
  --text-content: 0 200px 20px 200px;
  --text-content-responsive: 0 50px 20px 50px;
  --text-content-responsive-mini: 0 20px 20px 20px;
}
body {
  min-width: 210px;
  background: var(--background-side);
  overflow-x: hidden;
  font-family: "Segoe UI";
  font-weight: 500;
}
main {
  min-height: calc(100vh - 186px);
}
a {
  text-decoration: none;
  color: #000
}
h2, h3, h4 {
  color: #48e;
  font-weight: 400;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
}
p {
  line-height: 1.4;
  font-weight: 400;
}
.main__container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: var(--max-content);
  margin: 0 auto 20px auto;
  padding: 0 10px;
}
.main__container-h, .main__container-p {
  padding: var(--text-content-responsive-mini);
}
.main__container-p {
  font-size: 1.15em;
}
@media (min-width: 500px) {
  .main__container {
    padding: 0 20px;
  }
  .main__container-h, .main__container-p {
    padding: var(--text-content-responsive);
  }
}
@media (min-width: 1000px) {
  .main__container-h, .main__container-p {
    padding: var(--text-content);
  }
}