.clickme {
  border-radius: 50px;
  padding: .25em .5em;
  text-align: center;
  margin: auto;
  transition: transform .1s ease;
}
.clickme:hover {
  transform: scale(1.1);
}
.reserve-container {
  z-index: 1;
  font-size: 1.8em;
  text-align: center;
  display: grid;
  align-items: center;
  padding: 50px 0;
}
.reserve-container p {
  color: #fff;
  text-shadow: 0 0 10px #000;
  font-size: 36px;
}
.reserve {
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #25d366;
  gap: .25em;
}
.reserve svg {
  fill: #fff;
  height: 1em;
  width: 1em;
}
.reserve div {
  font-size: .65em;
}
.background {
  margin-bottom: 40px;
  min-height: 375px;
  position: relative;
  display: flex;
  justify-content: center;
}
.background video, .background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.market-container {
  background: #eee;
  border-radius: 20px;
}
.market-img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.market-img:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.market-img:nth-child(2) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.market-object {
  padding: 16px;
}
.market-object ul {
  list-style: none;
  font-weight: 400;
}
.videos-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.videos-objects {
  position: relative;
}
.videos h4 {
  text-align: center;
  padding: 5px;
}
.videos-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.notices-content {
  display: grid;
  gap: 5px;
  text-align: center;
}
.notices-object {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: center;
}
.notices-object img {
  height: 100%;
  width: 100%;
}
.notices-more {
  font-size: 36px;
}
.map {
  text-align: center;
}
/* .map {
} */
@media (min-width: 510px) {
  .market-object {
    padding: 36px;
  }
  .notices-object {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) {
  .market-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .videos-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .notices-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}